*{
  margin: 0px;
  box-sizing: border-box;
  &::before,&::after{
    box-sizing: border-box;
  }
}

html{
  font-size: 10px;
}

body{
  color: #333;
  font-size: 1rem;
  font-family: "Microsoft JhengHei",Meiryo,sans-serif;
}

a:link,a:visited,a:hover,a:active{
  color: #d03c56;
  text-decoration: none;
}

ul,ol{
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    margin: 0;
  }
}

.clearfix{
  &::after{
    content: '';
    display: block;
    clear: both;    
  }
}

.hidden{
  display: none;
}