<!DOCTYPE html>
<html lang="zh-hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Single page layout</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/all.css">

</head>
<body>
  <header class="header">
    <p class="site-title-sub">Web desinger's portfolio</p>
    <h1 class="site-title">Hi, My Name Is</h1>
    <p class="site-description">Check out some of my works.</p>
    <div class="btns">
      <a href="#about" class="btn">LEARN MORE</a>
      <a href="#contact" class="btn-showy">send message</a>
    </div>
  </header>

  <section class="about" id="about">
    <h2 class="heading">ABOUT ME</h2>
    <p class="about-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis alias minima hic 
    </p>
    <p class="about-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum modi repellat atque illo aspernatur at voluptatem 
    </p>
  </section>
  <section class="works">
    <h2 class="heading">WORKS</h2>
    <div class="work-wrapper">
      <div class="work-box tree">
        <img class="work-img" src="images/tree.jpg" alt="">
        <div class="work-description">
          <div class="work-description-inner">
            <p class="work-text">
              第一個案例<br>
              簡單的說明<br>
              使用的工具：xxx、xxx、xxx<br>
              <a href="" class="btn-ghost">READ MORE</a>
            </p>
          </div>
        </div>
      </div>
      <div class="work-box building">
        <img class="work-img" src="images/building.jpg" alt="">
        <div class="work-description">
          <div class="work-description-inner">
            <p class="work-text">
              第二個案例<br>
              簡單的說明<br>
              使用的工具：xxx、xxx、xxx<br>
              <a href="" class="btn-ghost">READ MORE</a>
            </p>
          </div>
        </div>
      </div>
      <div class="work-box lake">
        <img class="work-img" src="images/lake.jpg" alt="">
        <div class="work-description">
          <div class="work-description-inner">
            <p class="work-text">
              第三個案例<br>
              簡單的說明<br>
              使用的工具：xxx、xxx、xxx<br>
              <a href="" class="btn-ghost">READ MORE</a>
            </p>
          </div>
        </div>
      </div>
      <div class="work-box sky">
        <img class="work-img" src="images/sky.jpg" alt="">
        <div class="work-description">
          <div class="work-description-inner">
            <p class="work-text">
              第四個案例<br>
              簡單的說明<br>
              使用的工具：xxx、xxx、xxx<br>
              <a href="" class="btn-ghost">READ MORE</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="skills">
    <h2 class="heading">My Skills</h2>
    <div class="skills-wrapper">
      <div class="skill-box">
        <i class="skill-icon fa fa-lightbulb-o"></i>
        <div class="skill-title">IDEA</div>
        <p class="skill-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, labore?<br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, labore?<br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, labore?<br>
        </p>
      </div>
      <div class="skill-box">
        <i class="skill-icon fa fa-paint-brush"></i>
        <div class="skill-title">DESIGN</div>
        <p class="skill-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, labore?<br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, labore?<br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, labore?<br>
        </p>
      </div>
      <div class="skill-box">
        <i class="skill-icon fa fa-code"></i>
        <div class="skill-title">CODING</div>
        <p class="skill-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, labore?<br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, labore?<br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, labore?<br>
        </p>
      </div>
    </div>
  </section>
  <section class="contact" id="contact">
    <h2 class="heading">CONTACT</h2>
    <form action="" class="contact-form">
      <input type="text" text="name" placeholder="NAME">
      <textarea name="message" id="" cols="30" rows="10" placeholder="MESSAGE"></textarea>
      <input type="submit" value="SEND">
    </form>
  </section>
  <footer class="footer">
    &copy;sample site
  </footer>
</body>
</html>